USE [master]
GO
/****** Object:  Database [TTTT3]    Script Date: 6/6/2023 4:57:46 PM ******/
CREATE DATABASE [TTTT3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTTT3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHUVAN\MSSQL\DATA\TTTT3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTTT3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHUVAN\MSSQL\DATA\TTTT3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTTT3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTTT3]
GO
/****** Object:  Table [dbo].[CHITIETPHANQUYEN]    Script Date: 6/6/2023 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHANQUYEN](
	[IDCHITIETPHANQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[IDQUYEN] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTHU](
	[IDCHITIETPHIEUTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDPHIEU] [int] NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[SOTIEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[IDTUYENTHU] [int] NOT NULL,
	[IDLOAIKH] [int] NOT NULL,
	[IDXAPHUONG] [int] NOT NULL,
	[MAKHACHHANG] [nvarchar](20) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CMT] [nvarchar](12) NULL,
	[NGAYCAP] [datetime] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGAYCHINHSUA] [datetime] NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYTHU](
	[IDKYTHU] [int] IDENTITY(1,1) NOT NULL,
	[TENKYTHU] [nvarchar](20) NULL,
	[TRANGTHAIKYTHU] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[IDLOAIKH] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](20) NULL,
	[TENLOAIPHI] [nvarchar](50) NULL,
	[GIA] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[IDMENU] [int] IDENTITY(1,1) NOT NULL,
	[TENMENU] [nvarchar](50) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[IDMENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [nvarchar](20) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [numeric](11, 0) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYENMENU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYENMENU](
	[IDPHANQUYENMENU] [int] IDENTITY(1,1) NOT NULL,
	[IDQUYEN] [int] NULL,
	[IDMENU] [int] NULL,
 CONSTRAINT [PK_PHANQUYENMENU] PRIMARY KEY CLUSTERED 
(
	[IDPHANQUYENMENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYENTUYENTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYENTUYENTHU](
	[IDPHANQUYENTUYENTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[IDTUYENTHU] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[IDPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[IDKYTHU] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[MAUSOPHIEU] [nvarchar](50) NULL,
	[KYHIEU] [nvarchar](50) NULL,
	[TRANGTHAIPHIEU] [bit] NULL,
	[NGAYTAO] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[IDQUANHUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUANHUYEN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENTHU](
	[IDTUYENTHU] [int] IDENTITY(1,1) NOT NULL,
	[IDXAPHUONG] [int] NOT NULL,
	[MATUYENTHU] [nvarchar](50) NULL,
	[TENTUYENTHU] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XAPHUONG]    Script Date: 6/6/2023 4:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XAPHUONG](
	[IDXAPHUONG] [int] IDENTITY(1,1) NOT NULL,
	[IDQUANHUYEN] [int] NOT NULL,
	[TENXAPHUONG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHANQUYEN] ON 

INSERT [dbo].[CHITIETPHANQUYEN] ([IDCHITIETPHANQUYEN], [IDNHANVIEN], [IDQUYEN]) VALUES (2, 6, 1)
INSERT [dbo].[CHITIETPHANQUYEN] ([IDCHITIETPHANQUYEN], [IDNHANVIEN], [IDQUYEN]) VALUES (3, 6, 2)
INSERT [dbo].[CHITIETPHANQUYEN] ([IDCHITIETPHANQUYEN], [IDNHANVIEN], [IDQUYEN]) VALUES (4, 6, 3)
SET IDENTITY_INSERT [dbo].[CHITIETPHANQUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUTHU] ON 

INSERT [dbo].[CHITIETPHIEUTHU] ([IDCHITIETPHIEUTHU], [IDPHIEU], [NOIDUNG], [SOTIEN]) VALUES (21, 1, N'Phí sản xuất', 100000)
INSERT [dbo].[CHITIETPHIEUTHU] ([IDCHITIETPHIEUTHU], [IDPHIEU], [NOIDUNG], [SOTIEN]) VALUES (22, 2, N'Phí thông thường', 30000)
INSERT [dbo].[CHITIETPHIEUTHU] ([IDCHITIETPHIEUTHU], [IDPHIEU], [NOIDUNG], [SOTIEN]) VALUES (23, 3, N'Phí thông thường', 30000)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([IDKHACHHANG], [IDTUYENTHU], [IDLOAIKH], [IDXAPHUONG], [MAKHACHHANG], [HOTEN], [DIACHI], [CMT], [NGAYCAP], [NGAYTAO], [NGAYCHINHSUA], [TRANGTHAI]) VALUES (1, 1, 1, 3, N'kh1', N'Nguyen Tuan', N'can tho', N'085328764', NULL, NULL, NULL, 1)
INSERT [dbo].[KHACHHANG] ([IDKHACHHANG], [IDTUYENTHU], [IDLOAIKH], [IDXAPHUONG], [MAKHACHHANG], [HOTEN], [DIACHI], [CMT], [NGAYCAP], [NGAYTAO], [NGAYCHINHSUA], [TRANGTHAI]) VALUES (3, 1, 3, 3, N'kh2', N'Nguyen My', N'can tho', N'9865413209', NULL, NULL, NULL, 1)
INSERT [dbo].[KHACHHANG] ([IDKHACHHANG], [IDTUYENTHU], [IDLOAIKH], [IDXAPHUONG], [MAKHACHHANG], [HOTEN], [DIACHI], [CMT], [NGAYCAP], [NGAYTAO], [NGAYCHINHSUA], [TRANGTHAI]) VALUES (4, 2, 3, 4, N'kh3', N'Nguyen Tri', N'can tho', N'876532654', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KYTHU] ON 

INSERT [dbo].[KYTHU] ([IDKYTHU], [TENKYTHU], [TRANGTHAIKYTHU]) VALUES (1, N'05/2023', 1)
INSERT [dbo].[KYTHU] ([IDKYTHU], [TENKYTHU], [TRANGTHAIKYTHU]) VALUES (2, N'04/2023', 0)
SET IDENTITY_INSERT [dbo].[KYTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIKH] ON 

INSERT [dbo].[LOAIKH] ([IDLOAIKH], [TENLOAI], [TENLOAIPHI], [GIA]) VALUES (1, N'Doanh Nghiệp', N'Phí sản xuất', 100000.0000)
INSERT [dbo].[LOAIKH] ([IDLOAIKH], [TENLOAI], [TENLOAIPHI], [GIA]) VALUES (3, N'Hộ Dân', N'Phí thông thường', 30000.0000)
SET IDENTITY_INSERT [dbo].[LOAIKH] OFF
GO
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([IDMENU], [TENMENU]) VALUES (1, N'QUẢN LÝ KHÁCH HÀNG')
INSERT [dbo].[MENU] ([IDMENU], [TENMENU]) VALUES (2, N'QUẢN LÝ THÔNG TIN SỬ DỤNG')
INSERT [dbo].[MENU] ([IDMENU], [TENMENU]) VALUES (3, N'QUẢN LÝ DANH MỤC HỆ THỐNG')
SET IDENTITY_INSERT [dbo].[MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [MANHANVIEN], [HOTEN], [SDT], [NGAYSINH], [DIACHI], [USERNAME], [PASSWORD]) VALUES (6, N'NV01', N'Nguyen Van Tu', CAST(1234567 AS Numeric(11, 0)), NULL, N'Can Tho', N'admin', N'202cb962ac5975b964b7152d234b70')
INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [MANHANVIEN], [HOTEN], [SDT], [NGAYSINH], [DIACHI], [USERNAME], [PASSWORD]) VALUES (7, N'NV02', N'Nguyen Van Tam', CAST(1234567 AS Numeric(11, 0)), NULL, N'Can Tho', N'Tam', N'202cb962ac5975b964b7152d234b70')
INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [MANHANVIEN], [HOTEN], [SDT], [NGAYSINH], [DIACHI], [USERNAME], [PASSWORD]) VALUES (8, N'NV03', N'Nguyen Van Nhu', CAST(1234567 AS Numeric(11, 0)), NULL, N'Can Tho', N'Nhu', N'202cb962ac5975b964b7152d234b70')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANQUYENMENU] ON 

INSERT [dbo].[PHANQUYENMENU] ([IDPHANQUYENMENU], [IDQUYEN], [IDMENU]) VALUES (1, 1, 1)
INSERT [dbo].[PHANQUYENMENU] ([IDPHANQUYENMENU], [IDQUYEN], [IDMENU]) VALUES (2, 1, 2)
INSERT [dbo].[PHANQUYENMENU] ([IDPHANQUYENMENU], [IDQUYEN], [IDMENU]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PHANQUYENMENU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANQUYENTUYENTHU] ON 

INSERT [dbo].[PHANQUYENTUYENTHU] ([IDPHANQUYENTUYENTHU], [IDNHANVIEN], [IDTUYENTHU]) VALUES (1, 8, 7)
INSERT [dbo].[PHANQUYENTUYENTHU] ([IDPHANQUYENTUYENTHU], [IDNHANVIEN], [IDTUYENTHU]) VALUES (2, 9, 6)
INSERT [dbo].[PHANQUYENTUYENTHU] ([IDPHANQUYENTUYENTHU], [IDNHANVIEN], [IDTUYENTHU]) VALUES (3, 10, 1)
SET IDENTITY_INSERT [dbo].[PHANQUYENTUYENTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHU] ON 

INSERT [dbo].[PHIEUTHU] ([IDPHIEU], [IDKHACHHANG], [IDKYTHU], [IDNHANVIEN], [MAUSOPHIEU], [KYHIEU], [TRANGTHAIPHIEU], [NGAYTAO]) VALUES (1, 1, 1, 7, N'mau1', N'm1', 0, NULL)
INSERT [dbo].[PHIEUTHU] ([IDPHIEU], [IDKHACHHANG], [IDKYTHU], [IDNHANVIEN], [MAUSOPHIEU], [KYHIEU], [TRANGTHAIPHIEU], [NGAYTAO]) VALUES (2, 3, 1, 7, N'mau1', N'm1', 0, NULL)
INSERT [dbo].[PHIEUTHU] ([IDPHIEU], [IDKHACHHANG], [IDKYTHU], [IDNHANVIEN], [MAUSOPHIEU], [KYHIEU], [TRANGTHAIPHIEU], [NGAYTAO]) VALUES (3, 9, 1, 7, N'mau1', N'm1', 0, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[QUANHUYEN] ON 

INSERT [dbo].[QUANHUYEN] ([IDQUANHUYEN], [TENQUANHUYEN]) VALUES (1, N'Quận Ninh Kiều')
INSERT [dbo].[QUANHUYEN] ([IDQUANHUYEN], [TENQUANHUYEN]) VALUES (2, N'Quận Bình Thủy')
INSERT [dbo].[QUANHUYEN] ([IDQUANHUYEN], [TENQUANHUYEN]) VALUES (3, N'Quận Cái Răng')
SET IDENTITY_INSERT [dbo].[QUANHUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (1, N'Quản trị hệ thống')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (2, N'Nhân viên quản trị')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (3, N'Nhân viên thu ngân')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TUYENTHU] ON 

INSERT [dbo].[TUYENTHU] ([IDTUYENTHU], [IDXAPHUONG], [MATUYENTHU], [TENTUYENTHU]) VALUES (1, 3, N'TT1', N'NinhKieu - XuanKhanh')
INSERT [dbo].[TUYENTHU] ([IDTUYENTHU], [IDXAPHUONG], [MATUYENTHU], [TENTUYENTHU]) VALUES (2, 4, N'TT2', N'NinhKieu - HungLoi')
INSERT [dbo].[TUYENTHU] ([IDTUYENTHU], [IDXAPHUONG], [MATUYENTHU], [TENTUYENTHU]) VALUES (3, 2, N'TT3', N'NinhKieu - AnHoa')
SET IDENTITY_INSERT [dbo].[TUYENTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[XAPHUONG] ON 

INSERT [dbo].[XAPHUONG] ([IDXAPHUONG], [IDQUANHUYEN], [TENXAPHUONG]) VALUES (1, 1, N'Phường Cái Khế')
INSERT [dbo].[XAPHUONG] ([IDXAPHUONG], [IDQUANHUYEN], [TENXAPHUONG]) VALUES (2, 1, N'Phường An Hòa')
INSERT [dbo].[XAPHUONG] ([IDXAPHUONG], [IDQUANHUYEN], [TENXAPHUONG]) VALUES (3, 1, N'Phường Xuân Khánh')
SET IDENTITY_INSERT [dbo].[XAPHUONG] OFF
GO
/****** Object:  Index [PK_CHITIETPHANQUYEN]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[CHITIETPHANQUYEN] ADD  CONSTRAINT [PK_CHITIETPHANQUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDCHITIETPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[CHITIETPHANQUYEN]
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_12_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[CHITIETPHANQUYEN]
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIETPHIEUTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[CHITIETPHIEUTHU] ADD  CONSTRAINT [PK_CHITIETPHIEUTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDCHITIETPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[CHITIETPHIEUTHU]
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [KHACHHANG_LOAI_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [KHACHHANG_LOAI_FK] ON [dbo].[KHACHHANG]
(
	[IDLOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_16_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_16_FK] ON [dbo].[KHACHHANG]
(
	[IDXAPHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[KHACHHANG]
(
	[IDTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_KYTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[KYTHU] ADD  CONSTRAINT [PK_KYTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDKYTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIKH]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[LOAIKH] ADD  CONSTRAINT [PK_LOAIKH] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHANQUYENTUYENTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[PHANQUYENTUYENTHU] ADD  CONSTRAINT [PK_PHANQUYENTUYENTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDPHANQUYENTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_13_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[PHANQUYENTUYENTHU]
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_14_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_14_FK] ON [dbo].[PHANQUYENTUYENTHU]
(
	[IDTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHIEUTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[PHIEUTHU] ADD  CONSTRAINT [PK_PHIEUTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[PHIEUTHU]
(
	[IDKYTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[PHIEUTHU]
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THU_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [THU_FK] ON [dbo].[PHIEUTHU]
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_QUANHUYEN]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[QUANHUYEN] ADD  CONSTRAINT [PK_QUANHUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDQUANHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_QUYEN]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [PK_QUYEN] PRIMARY KEY NONCLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_TUYENTHU]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[TUYENTHU] ADD  CONSTRAINT [PK_TUYENTHU] PRIMARY KEY NONCLUSTERED 
(
	[IDTUYENTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[TUYENTHU]
(
	[IDXAPHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_XAPHUONG]    Script Date: 6/6/2023 4:57:47 PM ******/
ALTER TABLE [dbo].[XAPHUONG] ADD  CONSTRAINT [PK_XAPHUONG] PRIMARY KEY NONCLUSTERED 
(
	[IDXAPHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_15_FK]    Script Date: 6/6/2023 4:57:47 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_15_FK] ON [dbo].[XAPHUONG]
(
	[IDQUANHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_QUYEN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUTHU] FOREIGN KEY([IDPHIEU])
REFERENCES [dbo].[PHIEUTHU] ([IDPHIEU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHU] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUTHU]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_KHACHHANG_LOAIKH] FOREIGN KEY([IDLOAIKH])
REFERENCES [dbo].[LOAIKH] ([IDLOAIKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_KHACHHANG_LOAIKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_RELATIONS_TUYENTHU] FOREIGN KEY([IDTUYENTHU])
REFERENCES [dbo].[TUYENTHU] ([IDTUYENTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_RELATIONS_TUYENTHU]
GO
ALTER TABLE [dbo].[PHANQUYENMENU]  WITH CHECK ADD  CONSTRAINT [FK_PQM_MN] FOREIGN KEY([IDMENU])
REFERENCES [dbo].[MENU] ([IDMENU])
GO
ALTER TABLE [dbo].[PHANQUYENMENU] CHECK CONSTRAINT [FK_PQM_MN]
GO
ALTER TABLE [dbo].[PHANQUYENMENU]  WITH CHECK ADD  CONSTRAINT [FK_PQM_Q] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[PHANQUYENMENU] CHECK CONSTRAINT [FK_PQM_Q]
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_RELATIONS_TUYENTHU] FOREIGN KEY([IDTUYENTHU])
REFERENCES [dbo].[TUYENTHU] ([IDTUYENTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYENTUYENTHU] CHECK CONSTRAINT [FK_PHANQUYE_RELATIONS_TUYENTHU]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_RELATIONS_KYTHU] FOREIGN KEY([IDKYTHU])
REFERENCES [dbo].[KYTHU] ([IDKYTHU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_RELATIONS_KYTHU]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_RELATIONS_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_THU_KHACHHAN] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_THU_KHACHHAN]
GO
ALTER TABLE [dbo].[TUYENTHU]  WITH CHECK ADD  CONSTRAINT [fk_xp_tt] FOREIGN KEY([IDXAPHUONG])
REFERENCES [dbo].[XAPHUONG] ([IDXAPHUONG])
GO
ALTER TABLE [dbo].[TUYENTHU] CHECK CONSTRAINT [fk_xp_tt]
GO
ALTER TABLE [dbo].[XAPHUONG]  WITH CHECK ADD  CONSTRAINT [FK_XAPHUONG_RELATIONS_QUANHUYE] FOREIGN KEY([IDQUANHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([IDQUANHUYEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XAPHUONG] CHECK CONSTRAINT [FK_XAPHUONG_RELATIONS_QUANHUYE]
GO
USE [master]
GO
